<app-navbar></app-navbar>
<div class="content-wrapper">
    <div class="improvement-container">
        <h3 class="title">Registro de Mejora</h3>
        <img src="../../assets/img/improvement.png" alt="Imagen de Mejora" class="image">
        <button class="button" (click)="onClick('mejora')">Mas Info</button>
    </div>
    <div class="condition-container">
        <h3 class="title">Registro de Dolencias</h3>
        <img src="../../assets/img/pain.png" alt="Imagen de Dolencias" class="image">
        <button class="button" (click)="onClick('')">Mas Info</button>
    </div>
</div>
