<app-navbar></app-navbar>
<div class="content-wrapper">
    <div class="table-wrapper">
        <h2 class="title">Registro de Dolencias</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Parte del Cuerpo</th>
                        <th>Nivel de Dolencia</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Parte 1</td>
                        <td>Nivel 1</td>
                        <td>Fecha 1</td>
                    </tr>
                    <tr>
                        <td>Parte 2</td>
                        <td>Nivel 2</td>
                        <td>Fecha 2</td>
                    </tr>
                    <tr>
                        <td>Parte 3</td>
                        <td>Nivel 3</td>
                        <td>Fecha 3</td>
                    </tr>
                </tbody>
            </table>
            <div class="navigation-buttons">
                <button class="prev-button">&lt;</button>
                <button class="next-button">&gt;</button>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="table-wrapper">
        <h2 class="title">Resumen del Mes</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Parte del Cuerpo</th>
                        <th>Reportes</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Parte 1</td>
                        <td>Nivel 1</td>
                        <td>Fecha 1</td>
                    </tr>
                    <tr>
                        <td>Parte 2</td>
                        <td>Nivel 2</td>
                        <td>Fecha 2</td>
                    </tr>
                    <tr>
                        <td>Parte 3</td>
                        <td>Nivel 3</td>
                        <td>Fecha 3</td>
                    </tr>
                </tbody>
            </table>
            <div class="navigation-buttons">
                <button class="prev-button">&lt;</button>
                <button class="next-button">&gt;</button>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="table-wrapper">
        <h2 class="title">Resumen General</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Parte del Cuerpo</th>
                        <th>Reportes</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Parte 1</td>
                        <td>Nivel 1</td>
                        <td>Fecha 1</td>
                    </tr>
                    <tr>
                        <td>Parte 2</td>
                        <td>Nivel 2</td>
                        <td>Fecha 2</td>
                    </tr>
                    <tr>
                        <td>Parte 3</td>
                        <td>Nivel 3</td>
                        <td>Fecha 3</td>
                    </tr>
                </tbody>
            </table>
            <div class="navigation-buttons">
                <button class="prev-button">&lt;</button>
                <button class="next-button">&gt;</button>
            </div>
        </div>
    </div>
</div>

<button class="home-button" (click)="onClick()">Home</button>